# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
*.iml
.idea/

# Python
server/venv/
server/__pycache__/
server/*.pyc
server/data/
server/models/*.h5

# OS
.DS_Store
Thumbs.db
